<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
</head>
<body>
    <h1>Welcome to Our Car Wash Service</h1>
    <p>Get the best car cleaning service in town.</p>
    <a href="/api/booking">Book a Wash</a> <br>
    <a href="/api/about">about us</a>
</body>
</html>