<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <div class="thank-you-container">
        <h1>🎉 Thank You!</h1>
        <p>We have received your message, thank you very much.</p>
        <a href="/api/home" class="btn btn-success">Go Back Home</a>
    </div>
</body>
</html>